#show-pizza {
  display: none;
}

ul {
  list-style: none;
}

#show-pizzas {
  display: none;
}

.total {
  display: none;
}

.pizza {
  cursor: pointer;
  color: #0088cc;
}

.pizza:hover {
  text-decoration: underline;
}

/*.calculate {
  display: none;
}*/
